@media (max-width: 768px) {
    h1 {
      font-size: 2rem;
      padding: 40px;
      margin: 50px;
    }
  
    .d-flex {
      flex-direction: column;
    }
  
    .vh-100 {
      height: auto;
    }
  }
  